
/* body */
body {
    width: 100%;
 }

/*characters*/
h1 {
    color:#ffffff;
    font-size:120px;
    font-family:Source Sans Pro;
    }

h2 {
    color: #ffffff;
    text-align: center;
    font-family:Source Sans Pro;
    font-size: 32px;
}

h4 {
    font-family:Source Sans Pro;
    font-size: 14px;
    color: #c170ff;
}

p {
    color: #ffffff;
}

.highlight {
    color: #c170ff;
    font-weight: 2px;
    font-size: 32px;
    margin: 0px 10px;
}

/* images and buttons */

 
.logo {
    height: 13px;
}

img {
    margin: 10px;
}

.avatar {
width:150px;
height:150px;
}

button {
background-color:#c170ff;
height:44px;
width:162px;
border-radius:22px;
border:0px solid #969696;
position: relative;
color: white;
text-align:center;
font-size:14px;
font-family:Source Sans Pro;
justify-content: center;
align-items: center;
}    

/* header contents */

.centdiv {
    background-image: url(images/Object.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 985px;
}

.head-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 151px;

}

.head-content h1 {
    margin: 0;
    line-height: 5.5rem;
}

/* Header */
header {
    padding: 20px 0px;
    height: 20px;
}

header nav {
    display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: space-between; /* Space between the logo and nav links */
  padding: 0 200px;
}

header ul {
    display: flex;
    margin-left: auto;
    list-style: none;
    justify-content: flex-end;
    list-style: none;         
    padding: 0;               
    margin: 0;    
}

header li a {
    padding: 0px 20px;
    text-decoration: none;
    color: white;
    text-align:left;
    vertical-align:text-top;
    font-size:12px;
    font-family:Source Sans Pro;
    line-height:auto;
    border-style:hidden;
    outline:none;
    width:50px;
}

.profiles {
    display: flex;
    justify-content: space-around;
    padding: 0 100px;
}

.profile_content {
    text-align: center;
    align-items: center;
    line-height: 1.1rem;
    margin-top: 20px;
}

.profile_content h3 {
    color: white;
    margin: 0;
}

/* featured content with purple bg */

.featured {
    background-color: #c170ff;
    display: flex;
    justify-content: space-around;
    padding: 50px 270px;
    font-family: Source sans pro;
}

.featured_text {
    margin: 0 10px;
    padding: 30px 0;
}

.featured blockquote {
    color: #ffffff;
    text-align: left;
    margin: 0;
}

.featured h3 {
    color: #ffffff;
}

span {
    color: #ffffff;
    font-size:16px;
    font-family:Source Sans Pro;
    
}

.horizontal-spans {
    display: flex;
    justify-content: space-around;
    width: 25%;

}

/* video list */
 
 .popular_tutorials {
     display: flex;
     justify-content: center;
 }
 
 .black {
     color: black;
     font-size: 32px;
 }
 
 .tutorial_items {
     font-family: source sans pro;
     width: 255px;
     padding: 50px 10px;
 
 }
 
 .popular_tutorials img {
     width: 255px;
 }
 
 .popular_tutorials h3 {
     font-family: source sans pro;
     font-size: 16px;
     padding: 0 20px;
 }
 
 .popular_tutorials p {
     color: #a4a4a4;
     font-size: 14px;
     padding: 0 20px;
 }
 
 .author {
     display: flex;
     flex-wrap: nowrap;
 }
 
 .author img {
     width: 30px;
     height: 30px;
 }
 
 .author h4 {
     /* width: 500px; */
 }
 
 .post_time p {
     /* width: 34px; */
     color: #c170ff;
 }
 
 /* stars */
 
 .stars {
     display: flex;
     flex-direction: row;
     color: #979797;
     gap: 10px;
     width: 107px;
 
 }
 
 .star_time {
     display: flex;
     width: 255px;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
 
 }
 
 .star_time p {
 
 }
 
 .rating {
     color: #c170ff;
 }
 
 /* Membership */

 /* membership */

.membership {
    background-color: #071629;
    flex-wrap: wrap;
    justify-content: center;
    font-family: source sans pro;
    text-align: center;
    align-items: center;
    padding: 20px 20px;
}

.membership_items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    height: 300px;
}

.membership h2 {
    color: white;
    width: 100%;
    padding: 20px 0;
}

.membership_items div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 257px;
}

.membership button {
    margin-bottom: 40px;
    display: inline-block;

}

.membership h3 {
color: #ffffff;
}

.membership img {
    width: 44px;
}
